.container {
    margin-bottom: 100px;
}
.orange-bg {
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item {
    padding: 20px 40px;
}
.price {
    color: #ff136f;
}
.buy-now-btn {
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    border-radius: 8px;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cat1 {
    background-image: linear-gradient(to left,rgb(255, 185, 55), orange);
}
.cat2 {
    background-image: linear-gradient(to left, rgb(196, 15, 196), purple);
}
.cat3 {
    background-image: linear-gradient(to left,rgb(38, 38, 252),blue);
}
.catagories h1 {
    color: white;
}
.catagories img {
    width: 100px;
}
.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer {
    background-color: white;
    border: none;
}
.subscribe {
    height: 300px;
    
}
.subscribe h6 {
    color: gray;
}